@charset "ISO-8859-1";

body {
	margin:0;
	padding:0;
	height:100% ;
	background: url("images5.jpg") no-repeat center center fixed; 
	font-family: "Roboto", sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

section {
	font-family: 'cs_regular';    
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.blue_text {
	color: #5e99d1;
}

.red_text {
	color: #a92626;
}

.white_text {
	color: white;
}

.green_text {
	color: green;
}

.gray_text {
	color: gray;
}

#game_wrapper {
	position: relative;
}

canvas {
	border: 1px solid black;
	margin: auto;
}

#canvas_container {
	text-align: center;
}

#score_container {
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	top: 100;
	left: 25%;
	width: 50%;
	height: 400px;
	padding-top: 10px;
	text-shadow: 0 0 3px black;
	color: #777777;
	box-shadow: 0 0 3px black;
}

#score_container div {
	padding: 5px;
}

.centered_text {
	text-align: center;
}

#round_time_elapsed {
	color: white;
	font-size: 30px;
}

.players_table {
	width: 100%;
	text-align: left;
}

thead th {
	background-color: #0000004a;
	padding: 5px 5px;
}

table td {
	padding: 0px 5px;
}

#first_team_score, #second_team_score {
	font-size: 40px;
}

#players_table_alive {
	width: 20px;
}

#players_table_username {
	width: 100%;
}

#end_message {
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	top: 20%;
	left: 30%;
	width: 40%;
	min-width: 360px;
	height: 50px;
	padding: 10px;
	text-shadow: 0 0 3px black;
	box-shadow: 0 0 3px black;
	font-size: 70px;
	text-align: center;
}